
.image-list {
    width: 640px;
    margin: 0 auto;
    overflow:auto;
}

.image-container {
    padding-bottom: 28px;
    background-color: white;
    width: 640px;
    margin: auto;
    margin-bottom: 40px;
    color: #51535E;
    border-radius: 2px;
    box-sizing: border-box;
}

.image-container img {
    display: block;
    margin: 0 auto;
    width: 640px;
}

.image-header {
    padding-left: 26px;
    margin: 0 auto;
    line-height: 50px;
    font-family: monospace;
    background-color: white;
}

.image-stats {
    margin-left: 26px;
    margin-right: 26px;
    padding-right: 6px;
    padding-left: 6px;
    color: #909090;
    fill: #B9B6C3;
    background-color: white;
    display: flex;
}

.image-stats svg {
    background-color: transparent;
    padding-right: 6px;
    padding-left: 6px;
}
