<div class="container">
    <div class="image-list">
        <div class="image-container" ng-repeat="image in main.images">
            <div class="image-header">
                <div class="image-title">
                    "{{image.caption}}" <i>Uploaded By</i> "{{image.username || 'Anonymous'}}"
                </div>
            </div>
            <img src="{{image.url}}">
            <div class="image-stats">
                <div class="star " data-ember-action="768">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="21px" height="19px" viewBox="0 0 21 19" enable-background="new 0 0 21 19" xml:space="preserve">
                        <path d="M12.9,7.1L10.5,0L8.1,7.1H0l6.5,4.6L4,19l6.5-4.5L17,19l-2.4-7.3L21,7.1H12.9z"></path>
                    </svg>

                    {{image.like_count}}
                </div>
                <div class="pulse ">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="21.2px" height="19.2px" viewBox="646.5 3 21.2 19.2" enable-background="new 646.5 3 21.2 19.2" xml:space="preserve">
                        <path d="M667.4,13.5h-4.3l-2.5-10c-0.1-0.2-0.2-0.3-0.4-0.3l0,0c-0.2,0-0.3,0.1-0.4,0.2l-3.1,12.3l-2.6-7.2
                        c-0.1-0.1-0.2-0.2-0.4-0.2c-0.1,0-0.3,0.2-0.4,0.4l-2.1,4.8h-4.6c-0.2,0-0.3,0.2-0.3,0.3V15c0,0.6,0.2,0.5,0.4,0.5h5.6
                        c0.1,0,0.3-0.2,0.4-0.3l0.8-1.8l3.1,8.5c0.1,0.2,0.2,0.2,0.4,0.2l0,0c0.2,0,0.3-0.1,0.4-0.3l2.7-10.9l1,4.2c0.1,0.2,0.2,0.4,0.4,0.4
                        h5.6c0.2,0,0.2-0.4,0.2-0.5v-1.1C667.5,13.6,667.4,13.5,667.4,13.5z"></path>
                    </svg>

                    {{image.view_count}}
                </div>
            </div>
        </div>
    </div>
</div>
